{% extends "base.html" %}
{% load static %}

{% block title %}
Authentication | LLM DevOps Assistant
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block body %}

<div class="auth-page">

    <div class="container">

        <div class="row justify-content-center align-items-center min-vh-100">

            <div class="col-lg-5 col-md-7 col-sm-10">

                {% block auth_content %}
                {% endblock %}

            </div>

        </div>

    </div>

</div>

{% endblock %}