{% extends "base.html" %}

{% block content %}

<!-- Header -->
<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        {% include "components/page_header.html" with title="DevOps Dashboard" subtitle="Monitor your CI/CD pipelines, builds and analytics." %}
    </div>

    <div>
        <span class="badge bg-success fs-6">
            ● System Online
        </span>
    </div>

</div>

<!-- Quick Action -->
<div class="mb-4">

    {% include "components/button.html" with text="Create Pipeline" url="/pipelines/create/" btn_class="btn-primary" icon="bi bi-plus-circle" %}

</div>

<!-- KPI Cards -->
{% include "dashboard/_kpi_cards.html" %}

<!-- Latest Build + AI -->
<div class="row">

    <div class="col-md-6">
        {% include "dashboard/_latest_build.html" %}
    </div>

    <div class="col-md-6">
        {% include "dashboard/_ai_analysis.html" %}
    </div>

</div>

<!-- Projects -->
{% include "dashboard/_projects.html" %}

<!-- Analytics -->
{% include "dashboard/_pipeline_analytics.html" %}

<!-- Trends -->
{% include "dashboard/_build_trends.html" %}

<!-- Charts -->
{% include "dashboard/_charts.html" %}

<!-- Recent Builds -->
{% include "dashboard/_recent_builds.html" %}

{{ trend_labels|json_script:"trend-labels" }}
{{ trend_data|json_script:"trend-data" }}

{{ successful_builds|json_script:"successful-builds" }}
{{ failed_builds|json_script:"failed-builds" }}

{% endblock %}