{% extends "layouts/dashboard_layout.html" %}

{% block content %}

<h2>Pipeline List</h2>

<ul>

{% for pipeline in pipelines %}

<li>

<strong>Name:</strong>

<a href="{% url 'pipeline_detail' pipeline.id %}">
    {{ pipeline.name }}
</a>

<br>

<b>Branch:</b> {{ pipeline.branch }}

<br>

<b>Repository:</b> {{ pipeline.repository_url }}

</li>

<br>
<a href="{% url 'edit_pipeline' pipeline.id %}"
   class="btn btn-warning btn-sm">
    Edit
</a>

<a href="{% url 'run_pipeline' pipeline.id %}"
   class="btn btn-success btn-sm">
    ▶ Run Build
</a>

<a href="{% url 'delete_pipeline' pipeline.id %}"
   class="btn btn-danger btn-sm">
    Delete
</a>
{% endfor %}

</ul>


{% endblock %}

