<header class="topbar">

    <div class="topbar-left">

        <h5 class="mb-0">
            DevOps Dashboard
        </h5>

    </div>

    <div class="topbar-right">

        <div class="user-info">

            <i class="bi bi-person-circle fs-4"></i>

            <div>

                <strong>{{ user.username }}</strong>

                <br>

                <small class="text-muted">

                    DevOps Engineer

                </small>

            </div>

        </div>

    </div>

</header>