:root{

    --primary:#2563eb;
    --primary-dark:#1d4ed8;

    --success:#16a34a;
    --danger:#dc2626;
    --warning:#f59e0b;
    --info:#0ea5e9;

    --dark:#111827;
    --dark-light:#1f2937;

    --white:#ffffff;

    --body:#f5f7fb;

    --border:#e5e7eb;

    --text:#111827;
    --text-light:#6b7280;

    --radius:14px;

    --shadow:
        0 8px 25px rgba(0,0,0,.06);

    --transition:.3s;

}